{% load static %}

{#{% macro display_project(project) %}#}
{#    <div class="project">#}
{#        <div class="image">#}
{#            <img src="{% static project.image %}" alt="{{ project.title }}">#}
{#            <p class="description">{{ project.descr }}</p>#}
{#        </div>#}
{#        <h2 class="caption">{{ project.title}}</h2>#}
{#        <div class="refs">#}
{#            {% for ref in project.refs %}#}
{#                <a href="{{ ref.ref}}" target="_blank">#}
{#                    <img src="{{ url_for('static', filename=ref.img) }}" alt="">#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endmacro %}#}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Tim Kiryachek</title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/skills_styles.css' %}">
    {% endblock css %}
    {% block style %}
        <style>

        </style>
    {% endblock %}
</head>

{% endblock %}

<body>
{% block body %}

    <div class="intro">
    {% block intro %}
         <h1 class="greeting">
            Кирячек Тимофей
         </h1>

        <div class="descr">
            <img src="{% static "images/tec.png" %}" alt="avatar">
            <div>
                <div class="features">
                    <p>Python developer from Chusovoy, Russia</p>
                    <p>Competitive programmer</p>
                    <p>ML and DS enthusiast</p>
                    <p>Game maker</p>
                    <br>
                    <div class="refs">
                        <a href="https://github.com/TecHeReTiC3141" target="_blank">
                            <img src="{% static 'images/github.png' %}" alt="">
                        </a>
                        <a href="https://www.kaggle.com/timkiryachek" target="_blank">
                            <img src="{% static 'images/kaggle.png' %}" alt="">
                        </a>
                        <a href="https://t.me/TecHeReTiC" target="_blank">
                            <img src="{% static 'images/telegram.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock intro %}
    </div>

    <div class="content">
    {% block content %}

        <p>Hello, dear friend!
            I'm glad to see you on my personal website</p>

        <p>Here you can look at my projects, 
            take a glance at my skills and contact me it you want</p>
        <ul class="projects">
            <li>
                {% for row in projects %}
                    <div class="projects-row">
                        {% for project in row %}
                            <div class="project">
                                <div class="image">
                                    <img src="{% static project.image %}" alt="{{ project.title }}">
                                    <p class="description">{{ project.descr }}</p>
                                </div>
                                <h2 class="caption">{{ project.title}}</h2>
                                <div class="refs">
                                    {% for ref in project.refs %}
                                        <a href="{{ ref.ref}}" target="_blank">
                                            <img src="{% static ref.img %}" alt="">
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </li>
        </ul>

        <div class="skills">
            <div class="column">
                <div class="row">
                    <h2 class="caption">Языки, которые я знаю</h2>
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="row">
                    <h2 class="caption">Достижения</h2>
                    <ul>
                        <li></li>
                        <li>C++</li>
                        <li></li>
                    </ul>
                </div>
                 <div class="row">
                    <h2 class="caption">Интересы</h2>
                    <ul>
                        <li>Анализ данных</li>
                        <li>ML/DL</li>
                        <li>Спортивное программирование</li>
                        <li>Разработка игр (pygame)</li>
                        <li>Шахматы</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <h2 class="caption">Знания программирования</h2>
                    <ul>
                        <li>
                            <ul>Анализ данных:
                                <li>pandas</li>
                                <li>numpy</li>
                                <li>matplotlib</li>
                                <li>plotly</li>
                            </ul>
                        </li>

                        <li>
                            <ul>библиотеки для ML/DL:
                                <li>skikit-learn</li>
                                <li>PyTorch</li>
                                <li>Keras</li>
                            </ul>
                        </li>
                        <li>
                            Разработка Telegram ботов на aiogram
                        </li>
                        <li>
                            Backend разработка на Flask
                        </li>
                        <li>
                            Базы данных: MySQL, sqlite
                        </li>
                        <li>
                            Алгоритмы и структуры данных на уровне РЭ ВСОШ
                        </li>
                        <li>
                            Системы контроля версий: Git, GitHub
                        </li>

                    </ul>
                </div>
                <div class="row">
                    <h2 class="caption">Образования</h2>
                    <ul>
                        <li>Самообучение (бесплатные курсы и статьи)</li>
                        <li>Deep Learning School от МФТИ</li>
                        <li>Тинькофф.Поколение (Спорт. программирование)</li>
                    </ul>
                </div>
            </div>
        </div>


    {% endblock content %}
    </div>

    {% block footer %}
    <footer>
        <h4>&copy;TecHeReTiC</h4>
    </footer>
    {% endblock footer %}

{% endblock body %}
</body>

</html>
